@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap');

:root{
    --main-BG: hsl(217, 54%, 11%);
   --card-BG: hsl(216, 50%, 16%);
   --line: hsl(215, 32%, 27%);
   --Soft-blue: hsl(215, 51%, 70%);
   --font-Outfit: 'Outfit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

main{
    min-width: 375px;
    background-color: var(--main-BG);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-Outfit);
}

section{
    background-color: var(--card-BG);
    font-size: 1.6rem;
    color: white;
    padding: 15px;
    width: 90%;
    border-radius: 10px;
}

.header{
    text-align: center;
}


.header > img{
    display: inline-block;
    width: 96%;
    border-radius: 10px;
}

#content{
    width: 96%;
    padding-left: 7px;
    color: var(--Soft-blue);
}

h1{
    margin: 10px 0;
    color: white;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
    margin: 20px 0;
    
}

#content-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
}

span{
    display: inline-block;
    
}

span::before{
    display: inline-block;
    padding-right: 7px;
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
}

#content-left{
    color: cyan
}


#content-left::before{
    content: url(../images/icon-ethereum.svg);
}

#content-right::before{
    content: url(../images/icon-clock.svg);
}

hr{
    margin: 18px 0;
    background-color: var(--line);
    height: 1px;
    border: none;

}

#profile img{
    width: 12%;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    top: 10px;
}

#profile span{
    display: inline-block;
    padding-left: 6px;
}

.color{
    color: white;
    padding-left: 0;
}